/* Typography */
a {
  font-family: "Source Sans Pro";
  text-decoration: none;
  outline: none;
  color: #5a646e;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Source Sans Pro";
  font-weight: 200;
}

div h1 {
  font-size: 60px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 28px;
}

p {
  font-size: 19px;
  font-weight: 300;
}

/* Common Styles */

body {
  margin: 0;
}

.background {
  background:
    linear-gradient(rgba(61, 70, 100, 0.86), rgba(61, 70, 100, 0.86)),
    url("assets/images/background.jpg") no-repeat center top fixed;
  background-size: cover;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  display: block;
}

#logo-div {
  text-align: center;
}

#logo-div > img {
  width: 240px;
  height: 71px;
  display: block;
  margin: 0 auto;
}

#logo-div > h1 {
  font-weight: 200;
  color: #edf9f9;
}

#logo-div > h5 {
  color: #a9cece;
  font-weight: 300;
}

.segment {
  position: relative;
  z-index: 5;
  width: 100%;
  margin: 0;
  left: 0;
  padding: 5px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: yellow;
  width: 100%;
}

.section-block {
  margin-right: 5%;
  margin-left: 5%;
  display: inline-block;
  padding-top: 20px;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.contact {
  text-align: right;
  padding: 2em;
}

.contact span a {
  margin-left: 0;
  margin-right: 1em;
  color: white;
  font-family: "Source Sans Pro";
  font-weight: 300;
}

/* BUTTONS */

.schedule-button {
  position: relative;
  -webkit-animation: btnMove 5s infinite;
  animation: btnMove 5s infinite;
  animation-timing-function: linear;
}

.button {
  padding: 12px 35px;
  font-family: "Source Sans Pro";
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #041bf2;
  margin-left: auto !important;
  margin-right: auto !important;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  font-size: 25px;
  padding: 20px 45px;
  color: white;
}

.button:visited {
  text-decoration: none;
}

/* ANIMATIONS */
@keyframes btnMove {
  from { left: 0; }
  to { left: 80%; }
}

@-webkit-keyframes btnMove {
  from { left: 0; }
  to { left: 80%; }
}

/* PHONE IMAGES */

.phones {
  margin-top: 60px;
  position: relative;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.phones #left-shadow {
  display: inline-block;
  position: relative;
  z-index: 2;
  right: -8%;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  background: linear-gradient(95deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.phones #right {
  width: 32%;
  z-index: 1;
  position: relative;
  left: -8%;
}

.phones #left {
  position: relative;
  width: 32%;
  z-index: 1;
  right: -8%;
}

.phones #center {
  position: relative;
  width: 33%;
  z-index: 3;
}

.phones #benefits-front {
  position: relative;
  width: 36%;
  z-index: 3;
}

.phones #benefits-back {
  position: relative;
  width: 33%;
  z-index: 1;
  top: -20px;
  left: -20%;
}

/* SECTIONS BEYOND THE FOLD */

.p-border-left {
  border-left: 1px solid;
  padding-left: 5px;
  vertical-align: middle;
}

.float-left {
  float: left;
  max-width: 40%;
  text-align: left;
  margin-top: 8%;
  margin-bottom: 8%;
  position: relative;
  vertical-align: middle;
  margin-left: 4%;
  left: 5%;
}

.float-right {
  float: right;
  width: 50%;
  text-align: left;
  margin-right: auto;
}
